:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

h2 {
  margin-bottom: 1.5rem;
}

textarea {
  resize: none;
}

.translation-wrapper {
  position: relative;
}

.translation-wrapper .actions {
  position: absolute;
  left: 8px;
  bottom: 8px;
  display: flex;
}

.translation-wrapper .actions svg {
  fill: rgb(95, 99, 104);
}
