:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

h2 {
  margin-bottom: 1.5rem;
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 164px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 8px;
}

.textarea-wrapper .form-control {
  overflow: auto hidden;
  min-height: 200px;
  border: 0;
  resize: none;
}

.textarea-wrapper .actions {
  position: relative;
}

.textarea-wrapper .form-control:focus {
  box-shadow: none;
}

.textarea-wrapper .form-control:disabled {
  background-color: transparent;
}

.textarea-wrapper.disabled {
  background-color: #f5f5f5;
  border: 0;
}

.textarea-wrapper .actions svg {
  fill: rgb(95, 99, 104);
}