.toasts-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.toast {
  display: block !important;
  position: relative;
  /* override bootstrap styles*/
  max-width: 320px;
  bottom: 20px;
  left: 20px;
  background-color: #323232;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: 0.3s ease-in-out;
}

.toast-text {
  font-size: 14px;
  padding: 16px 20px;
  line-height: 1.4;
}